############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

# (temp files moved to IDE section)


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
nbproject

############################
# Uploads
############################

public/uploads/
!public/uploads/.gitkeep

############################
# Config/plugins
############################

config/plugins.js
config/plugins/


############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
.env.example
.env.production
.env.local
.env.*.local
.env.*.production
.env.*.example
license.txt
exports
*.cache
dist
build
.strapi-updater.json
.strapi/
.tmp/

############################
# Database dumps and backups
############################

*.sql
*.dump
*.backup
*.bak
dump_*.sql
backup_*.sql

############################
# IDE and Editor
############################

.vscode/
.idea/
*.swp
*.swo
*.swn
*~

############################
# SSL Certificates
############################

*.pem
*.key
*.cert
*.crt
*.csr
*.pfx
